---
import { Icon } from "astro-icon/components"
import A from "../Anchor.astro"
import type { AccountData } from "@/data/accounts.ts"

const {data: item, ...props} = Astro.props as { data: AccountData }
---

<A unset href={item.url} target="_blank" rel="me" class="text-black border border-gray-300 hover:bg-gray-100 focus:bg-gray-100 active:bg-gray-200 focus:ring focus:ring-blue-500 focus:outline-none active:outline-none rounded grow flex flex-row justify-center items-center p-4" data-note={item.notes} aria-label={`${item.username} on ${item.site}. Note: ${item.notes}`} {...props}>
	{
		(item.icon || item.iconImg) && (
			<>
				<div class="mr-4">
					{item.icon && <Icon name={item.icon} class="w-12 h-12" style={item?.iconStyle} />}
					{item.iconImg && <img src={item.iconImg} alt={"Icon of " + item.site} class="w-12 h-12" style={item?.iconStyle} />}
				</div>
			</>
		)
	}
	<div class="grow">
		<p class="text-xl font-semibold">{item.site}</p>
		<p class="text-sm">{item.username}</p>
	</div>
</A>
